main{
    min-width: 495px;
}

.img-jumbo{
    width: 250px;
    height: 250px;
}

.light-green-background{
    background-color:#1abc9c ;
}

.pink-background{
    background-color: #ba4b63;
}

.dark-blue-background{
    background-color: #3a546d;
}

.dark-blue-background-bottom{
    background-color: #2c3e50;
}

.line{
    background-color: white;
    height: 4px;
    width: 80px;
    border-radius: 15%;
}

.light-blue-text{
    color: #2c3e50;
}

.line-blue{
    background-color: #2c3e50;
    height: 4px;
    width: 80px;
    border-radius: 15%;
}

.dwl-button{
    background-color: #1abc9c;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.4rem 0.7rem;
    color: white;
}

.circle{
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
}