main{
    min-width: 495px;
}

img{
    width: 250px;
    height: 250px;
}

.light-green-background{
    background-color:#1abc9c ;
}

.line{
    background-color: white;
    height: 4px;
    width: 80px;
    border-radius: 15%;
}